@{
    ViewBag.Title = "About Me";
}

<h2>About</h2>
<p>
    Our Team members:
    <P>
        1. Hasnat
    </P>
    <
    <p>
        Dept. of Computer Science and Telecommunication Engineering
    </p>
    
</p>
